<div class="contenedor" id="Acerca">
    <div class="grid-container">

        <div class="img-cont">

            <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t31.0-8/14939956_1208106919247097_4366220719899084085_o.jpg?_nc_cat=107&ccb=2&_nc_sid=174925&_nc_ohc=eVdZpKqnnYQAX8mULrt&_nc_ht=scontent-bog1-1.xx&oh=b862b31f12dc2a62eb1d312285c95089&oe=602CA543" alt="">
        </div>

        <div class="info">
            <h2>ACERCA DE </h2>


            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>
            <p>upiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>

        </div>
    </div>
</div>