<div class="contenedor" id="Acerca">
    <div class="grid-container">

        <div class="img-cont">

            <img src="https://freephotos.cc/storage/preview/path/curves-on-grossglockner-road-austria-2210x3315.jpg" alt="">
        </div>

        <div class="info">
            <h2>ACERCA DE </h2>


            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>
            <p>upiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo, facere officia quod omnis rerum dolorem similique at id cumque voluptatum fugit exercitationem itaque saepe eius alias vitae! Sit, rerum?</p>

        </div>
    </div>
</div>