hr {
    width: 65%;
    background-color: darkgray;
}

h1 {
    color: aliceblue;
    font-size: 50px;
}

h4 {
    color: gray;
}

.home {
    padding: 80px 30px 30px 60px;
    background-color: black;
}

.icon {
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/924/924874.svg?token=exp=1610734280~hmac=2db6f62cb72fb046f093fefbb8a8501a");
    background-position: center;
    width: 100px;
    transition: 0.3s;
}

.icon:hover {
    transition: 0.3s;
    background-image: url("http://www.xaviro.com/assets/img/skills/js.svg");
    cursor: pointer;
}