hr {
    width: 65%;
    background-color: darkgray;
}

h1 {
    color: aliceblue;
}

h4 {
    color: gray;
}

.home {
    background-color: black;
    padding: 80px 30px 30px 60px;
}

.icon {
    background-position: center;
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/924/924874.svg?token=exp=1610734280~hmac=2db6f62cb72fb046f093fefbb8a8501a");
    width: 100px;
}

.icon:hover {
    background-image: url("http://www.xaviro.com/assets/img/skills/js.svg");
    cursor: pointer;
}