hr {
    width: 65%;
    background-color: darkgray;
}

h1 {
    color: aliceblue;
    font-size: 50px;
}

h4 {
    color: gray;
}

.home {
    padding: 80px 30px 30px 60px;
    background-color: black;
}

.icon {
    background-image: url("../../../assets/hacker.svg");
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.icon:hover {
    transition: 0.3s;
    background-image: url("http://www.xaviro.com/assets/img/skills/js.svg");
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .home {
        padding-top: 60px;
        padding-left: 0px;
        padding-bottom: 30px;
        padding-right: 10px;
        background-color: black;
    }
}