.navbar {
    background-color: black;
}

i {
    align-items: flex-start;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    border: 2px solid white;
    margin: 3px;
    color: white;
}

.btn-circle:hover {
    background-color: black;
    border-color: cadetblue;
    color: cadetblue;
}

li {
    margin: 5px;
    border-bottom: 2px solid black;
}

li a {
    padding: 10px;
}

a {
    color: white;
}

a:hover {
    color: cadetblue;
}

li:hover {
    border-bottom: 2px solid cadetblue;
}

.active {
    color: cadetblue;
    border-bottom: 2px solid cadetblue;
}