<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.flaticon.com/svg/vstatic/svg/1177/1177568.svg?token=exp=1610721308~hmac=86a06cb0329170fa4777a9551cac5077" alt="logo" style="width:30;height:30px;">
    </a>
    <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
      </div>
</nav>