<div class=" flex-container">
    <form class="form">

        <div class="form__section">
            <input type="text" name="" class="form__input" placeholder="Nombre">
        </div>
        <div class="form__section">
            <input type="email" name="" class="form__input" placeholder="Email" required>
        </div>
        <div class="form__section">
            <textarea type="text" name="" class="form__input" placeholder="Mensaje"></textarea>
        </div>
        <div class="form_section">
            <input type="submit" class="form__input" name="" id="">
        </div>
    </form>


    <div class="form-img">
        <img src="https://image.freepik.com/free-vector/contact-us-landing-page-illustration_52683-18236.jpg" alt="">
    </div>
</div>