<div id="Contacto" style="padding-top:100px;">
    <div class=" flex-container">
        <div>
            <h2 style="padding-top: 40px ;">CONTACTAME </h2>

        </div>
        <div style="padding-left: 30px;padding-right: 30px;">
            <hr>

            <p style="text-align: center;"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, fugit. Fuga quaerat est id qui adipisci ratione, deserunt nihil molestiae aperiam quibusdam nemo, dolores, eveniet cumque minus distinctio porro nam?</p>
        </div>
        <form class="contact-form" (submit)="sendEmail($event)">
            <div class="form__section">
                <input type="text" name="user_name" class="form__input bg-light" placeholder="Nombre">
            </div>
            <div class="form__section ">
                <input type="email" name="user_email" class="form__input bg-light" placeholder="Email" required>
            </div>
            <div class="form__section ">
                <textarea type="text" name="message" class="form__input bg-light" placeholder="Mensaje"></textarea>
            </div>
            <div class="form_section">
                <button type="submit" class="form__input" name="" id="">Enviar</button>
            </div>
        </form>


        <div class="form-img">
            <img src="https://image.freepik.com/free-vector/contact-us-landing-page-illustration_52683-18236.jpg" alt="">
        </div>
    </div>
</div>