    .flex-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 60px 60px 60px;
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 10px 10px 47px -5px rgba(0, 0, 0, 0.22);
        transition: all 1s;
    }
    
    .contact-form {
        min-width: 400px;
        flex: 1;
        text-align: center;
        padding: 20px 40px 30px 30px;
        order: 5;
    }
    
    .form__input {
        width: 100%;
        padding: 6px;
        margin: 6px 0;
        border: none;
        border-left: 3px solid cadetblue;
    }
    
    .form__input:focus {
        background: white;
        outline: none;
        border: 1px solid cadetblue;
    }
    
    .contact-form textarea {
        min-height: 120px;
        resize: none;
    }
    
    .contact-form-img {
        flex: 1;
        padding: 1;
        display: flex;
        order: 2;
    }
    
    .contact-form input[type="submit"] {
        background-color: cadetblue;
        border-radius: 10px;
        border: 2px solid cadetblue;
        color: white;
        transition: all 1s;
    }
    
    contact-form input[type="submit"]:hover {
        background-color: white;
        border: 2px solid cadetblue;
        color: cadetblue;
        transition: all 1s;
    }
    
    .contact-form-img img {
        width: auto;
        width: auto;
        margin: auto;
    }
    
    @media only screen and (max-width: 800px) {
        .contact-form-img>img {
            transition: all 1s;
            max-width: 300px;
        }
    }
    
    @media only screen and (min-width: 950px) {
        .flex-container {
            transition: all 1s;
            margin-left: 200px;
            margin-right: 200px;
        }
    }