span {
    color: rgb(160, 242, 245);
}

.redes-sociales li {
    display: inline;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    border: 2px solid cadetblue;
    margin: 3px;
    color: cadetblue;
}

.btn-circle:hover {
    background-color: cadetblue;
    border-color: cadetblue;
    color: white;
}