<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h2 class="text-uppercase"> UBICACION </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0" style="padding-bottom:25px"> MIS REDES</h5>

                <ul class="list-unstyled redes-sociales">
                    <li>
                        <button type="button" class=" btn  btn-circle  "> <i class="fa fa-facebook "></i> </button>
                    </li>
                    <li>
                        <button type="button" class=" btn  btn-circle  "> <i class="fa fa-instagram "></i> </button>
                    </li>
                    <li>
                        <button type="button" class=" btn  btn-circle  "> <i class="fa fa-twitter "></i> </button>
                    </li>
                    <li>
                        <button type="button" class=" btn  btn-circle  "> <i class="fa fa-whatsapp"></i> </button>
                    </li>
                    <li>
                        <button type="button" class=" btn  btn-circle  "> <i class="fa fa-linkedin "></i> </button>
                    </li>
                    <li>
                        <button type="button" class="btn  btn-circle  "> <i class="fa fa-github "></i> </button>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 " style="background-color: black; color:white;">
        <p style="padding: 10px; "> Developed and designed by <span>Oscar Quiroz</span>. ©2021 All rights reserved.</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->