<div class="contenedor-total" id="Portafolio">
    <div class="titulo">

        <h2 style="padding-top: 40px ;">PORTAFOLIO</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eligendi animi repellendus omnis voluptas ducimus vero voluptatibus sint reprehenderit blanditiis maxime consectetur, nostrum nesciunt, quidem ut dolorem expedita sequi quasi.</p>
    </div>

    <div class="flex-container">

        <div class="project">
            <p>proyecto n1</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>

        <div class="project">
            <p>proyecto n2</p>
            <img src="../../../assets/detective.svg" alt="">

        </div>
        <div class="project">
            <p>proyecto n3</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>

        <div class="project">
            <p>proyecto n4</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>
        <div class="project">
            <p>proyecto n5</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>
        <div class="project">
            <p>proyecto n6</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>
        <div class="project">
            <p>proyecto n7</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>
        <div class="project">
            <p>proyecto n8</p>
            <img src="../../../assets/detective.svg" alt="">
        </div>


    </div>
</div>